<section id="setorFormContainer">
  <div class="mainFormContainer">
    <h1 class="text-center">Setores</h1>
    <p class="text-center lead">Gerencie seus setores abaixo.</p>
    <div class="cabecalhoForm">
      <button
        class="btn btnCadastro"
        onclick="return botaoListaSetorNovoClick()"
      >
        <i class="bi bi-plus-lg"></i>
      </button>
      <button class="btn btnCadastro">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
    <div class="responsive-table">
      <table class="table my-3 table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Os dados dos setores serão preenchidos aqui -->
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Modal de cadastro de setor -->
<div class="modal fade" id="setor" tabindex="-1" role="dialog">
  <div
    class="modal-dialog modal-lg"
    role="document"
    style="overflow-y: initial !important"
  >
    <div class="modal-content">
      <div class="modal-header">
        <div class="titleForm">
          <h1 class="text-center">
            <%= setor._id ? 'Editar' : 'Cadastrar' %> Setor
          </h1>
          <p class="text-center lead">
            <%= setor._id ? 'Edite as informações do setor abaixo.' : 'Cadastre
            um novo setor abaixo.' %>
          </p>
        </div>
      </div>
      <div
        class="modal-body"
        style="max-height: calc(100vh - 200px); overflow-y: auto"
      >
        <form id="setorForm" onsubmit="return submitSetorForm(event)">
          <input type="hidden" id="grupoId" value="" />
          <div class="col">
            <div class="form-group">
              <label>Nome</label>
              <input
                value="<%= setor.nome %>"
                type="text"
                class="form-control"
                name="nome"
                id="setorId"
                required
              />
              <label>Descrição</label>
              <textarea
                class="form-control"
                name="descricao"
                id="setorDescricao"
              >
          <%= setor.descricao %></textarea
              >
            </div>
          </div>
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i> <%= setor._id ? 'Salvar' : 'Cadastrar' %>
          </button>
          <button
            type="button"
            class="btn btn-warning"
            onclick="return botaoCancelarClick('setor')"
          >
            <i class="fa fa-close"></i> Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
