<%- include('includes/head') %>
<main>
  <!-- <div id="telaDeLoading">
        <img
          class="logoLoading"
          src="./assets/img/logoAuroraPNG.png"
          alt="logoAurora"
          border="0"
        />
  
        <div class="loading-bar-container">
          <div class="loading-bar"></div>
        </div>
      </div> -->
  <div class="d-flex justify-content-between">
    <!-- Sidebar fixo à esquerda com borda à direita e fundo branco -->
    <div id="sidebar" class="sidebar fixed-start bg-white p-3">
      <section>
        <div class="d-flex justify-content-between align-items-center">
          <img src="assets/img/GtLogo.jpg" alt="" class="fotoGt" width="200" />
          <div class="logout">
            <form action="/login/logout" method="GET">
              <a href="/login/logout" class="btn btn-danger"
                ><i class="bi bi-box-arrow-left"></i
              ></a>
            </form>
          </div>
        </div>
        <div id="jstree">
          <ul>
            <li>
              Cadastros
              <ul>
                <li id="child_node_1">
                  Empresa
                  <ul>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="formUnidade()"
                    >
                      <u>Unidades</u>
                    </li>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="carregarFormulario('setorForm')"
                    >
                      <u>Setores</u>
                    </li>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="carregarTabela('Usuarios')"
                    >
                      <u>Usuários do ERP</u>
                    </li>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="formUsuario()"
                    >
                      <u>Usuário</u>
                    </li>
                  </ul>
                </li>
                <li>
                  Atividades Laborais
                  <ul>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="formExecucao()"
                    >
                      <u>Execuções</u>
                    </li>
                    <li
                      onclick="formAtvd()"
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                    >
                      <u>Atividades</u>
                    </li>
                  </ul>
                </li>
                <li>
                  Almoxarifado
                  <ul>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="formSetor()"
                    >
                      <u>Grupo de produto</u>
                    </li>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="formSetor()"
                    >
                      <u>Subgrupo de produto</u>
                    </li>
                    <li
                      data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                      onclick="formGpProduto()"
                    >
                      <u>Produto</u>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              Estoque
              <ul>
                <li
                  data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                  onclick="formEntradaProduto()"
                >
                  <u>Entrada de Produtos</u>
                </li>
                <li
                  data-jstree='{"icon":"bi bi-file-earmark-fill"}'
                  onclick="formBaixaProduto()"
                >
                  <u>Baixa de Produtos</u>
                </li>
              </ul>
            </li>
            <li>
              Dashboard
              <ul>
                <li data-jstree='{"icon":"bi bi-file-earmark-fill"}'>
                  <u>Estado de atividades por usuário</u>
                </li>
                <li data-jstree='{"icon":"bi bi-file-earmark-fill"}'>
                  <u>Estado de atividades por setor</u>
                </li>
                <li data-jstree='{"icon":"bi bi-file-earmark-fill"}'>
                  <u>Estado de status de atividades</u>
                </li>
              </ul>
            </li>
            <li>
              Relatórios
              <ul>
                <li data-jstree='{"icon":"bi bi-file-earmark-fill"}'>
                  <u>Atividades por Usuário</u>
                </li>
                <li data-jstree='{"icon":"bi bi-file-earmark-fill"}'>
                  <u>Atividades por Setor</u>
                </li>
                <li data-jstree='{"icon":"bi bi-file-earmark-fill"}'>
                  <u>Status de Atividades</u>
                </li>
                <li data-jstree='{"icon":"bi bi-file-earmark-fill"}'>
                  <u>Material Utilizado</u>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <!---->

    <!-- Conteúdo das entidades da sideBar -->
    <div class="conteudo">
      <section id="forms">
        <%- include('includes/messages'); %>
      </section>
    </div>
  </div>

  <!-- Modal de cadastro de setor -->
  <div class="modal fade" id="setor" tabindex="-1" role="dialog">
    <div
      class="modal-dialog modal-lg"
      role="document"
      style="overflow-y: initial !important"
    >
      <div class="modal-content">
        <div class="modal-header">
          <div class="titleForm">
            <h1 class="text-center">
              <%= setor._id ? 'Editar' : 'Cadastrar' %> Setor
            </h1>
            <p class="text-center lead">
              <%= setor._id ? 'Edite as informações do setor abaixo.' :
              'Cadastre um novo setor abaixo.' %>
            </p>
          </div>
        </div>
        <div
          class="modal-body"
          style="max-height: calc(100vh - 200px); overflow-y: auto"
        >
          <form id="setorForm" onsubmit="return submitSetorForm(event)">
            <input type="hidden" id="grupoId" value="" />
            <div class="col">
              <div class="form-group">
                <label>Nome</label>
                <input
                  value="<%= setor.nome %>"
                  type="text"
                  class="form-control"
                  name="nome"
                  id="setorId"
                  required
                />
                <label>Descrição</label>
                <textarea
                  class="form-control"
                  name="descricao"
                  id="setorDescricao"
                >
<%= setor.descricao %></textarea
                >
              </div>
            </div>
            <button type="submit" class="btn btn-success">
              <i class="fa fa-save"></i> <%= setor._id ? 'Salvar' : 'Cadastrar'
              %>
            </button>
            <button
              type="button"
              class="btn btn-warning"
              onclick="return botaoCancelarClick('setor')"
            >
              <i class="fa fa-close"></i> Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('includes/footer') %>
